.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
./idea/**
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

dist/
/index.html
.history/

# local env files
.env.local
.env.*.local

# ignore styleguide build folder and generated component files
/docs/components/
styleguide/
