@import "./variables";
@import 'vue2-datepicker/scss/index.scss';

/* datepicker css */
.mx-datepicker {
  width: 100%;
}

// change font and font size
.mx-calendar, .mx-datepicker-main, .mx-calendar-header-label, .mx-btn,
.mx-table-date .cell:not(.not-current-month), .mx-table-date th {
  font: inherit !important;
  color: $font-color !important;

  .not-current-month {
    font: inherit !important;
  }
}

// change font size for time
.mx-time-column .mx-time-item {
  font-size: $font-size-regular !important;
  height: $row-height-small !important;
  line-height: $row-height-small;
}

/* dont need special color for today */
.mx-table-date td.today {
  color: $font-color !important;
}

// calendar width
.mx-calendar {
  width: 250px !important;
  line-height: $line-height !important;
}

.mx-btn {
  display: inline !important;
}

// hover color
.mx-calendar-content .cell:hover, .mx-calendar-header > a:hover,
.mx-time-column .mx-time-item:hover {
  color: $app-color !important;
  background-color: transparent !important;
}

// selected color
.mx-calendar-content .cell.active,
.mx-time-column .mx-time-item.active {
  background-color: $app-color !important;
  color: white !important;
}

// remove space in the end in time column
.mx-time-column .mx-time-list::after{
  height: 0 !important;
}

input.base-date-input__datepicker-input:focus {
  outline: none;
}

.base-date-input__datepicker-input {
  border: none;
  outline: none;
  width: calc(100% - #{$spacing} - #{$icon-large});
  height: 100%;
  background-color: transparent;
}

.mx-datepicker-popup {
  box-shadow: $preview-box-shadow !important;
}

.mx-datepicker-main {
  border: none;
}

@media screen and (max-width: $mobile) {
  .base-date-input__datepicker-input {
    width: calc(100% - #{$spacing} - #{$icon-medium});
  }
}
