@import 'variables';

/* for accessibility */
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.base-box {
  background: white;
  box-shadow: $box-shadow-reg;
  transition: $box-transition;

  &:hover {
    box-shadow: $box-shadow-hov;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
}

button:focus {
  outline: 0;
}

input[type=text], input[type=date] {
  font-family: inherit;
  font-size: inherit;
}

/* recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}
