@import 'variables';

/* for accessibility */
.hide {
  position: absolute !important;
  top: auto !important;
  left: -9999px !important;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus {
    outline: 0;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-transform: inherit;
  background: transparent;
  color: $font-color;

  &:focus {
    outline: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &:focus {
    outline: 0;
  }
}

li {
  list-style: none;

  :focus {
    outline: none;
  }
}

// Todo: check if necessary
:focus {
  outline: none;
  &:focus {
    outline: 0;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

datalist {

}

input[type='search'] {
  font-family: inherit;
  font-size: inherit;
}

input[type=text], input[type=date], textarea, input[type=number],
input[type=password], input[type=email], input[type=url], input[type=search] {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

input:focus, input[type=date]:focus, input[type=search]:focus, textarea:focus, video:focus,
audio:focus, input[type=number]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=search]:focus  {
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: $font-color-third;
  padding: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type=number], input[type=email], input[type=password] {
  border: none;
}

// to hide the stepper for number input
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

textarea {
  box-shadow: none
}

input {
  // to prevent safari strange padding
  padding: 0;

  &:invalid {
    box-shadow: none;
  }

  &:disabled {
    color: $font-color-second;
  }
}

button {
  padding: 0;
}

/* recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

h1, h2, h3 {
  font-size: $font-size-regular;
  font-weight: bold;
  line-height: $line-height;
  margin-top: 0;
  margin-bottom: $headline-margin-bottom;
}


/* Helpers */
.base-text-fade-out {
  position: relative;

  &::after {
    content: '';
    width: calc(#{$fade-out-width} + #{$spacing});
    height: $row-height-large;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) , white);
    z-index: map-get($zindex, fadeout);
  }
}

.base-text-fade-out-left {
  position: relative;

  &::before {
    content: '';
    width: calc(#{$fade-out-width} + #{$spacing});
    height: $row-height-large;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) , white);
    z-index: map-get($zindex, fadeout);
  }
}

.base-text-fade-out-background {
  position: relative;

  &::after {
    content: '';
    width: calc(#{$fade-out-width} + #{$spacing});
    height: $row-height-large;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) , $background-color);
    z-index: map-get($zindex, fadeout);
  }
}

.base-box-shadow {
  position: relative;
  z-index: 1;
  box-shadow: $box-shadow-reg;
  transition: box-shadow 150ms ease-in-out;

  &--edit {
    box-shadow: $box-shadow-edit;
  }
}

.supportive-text {
  position: absolute;
  z-index: 1000;
  width: 1px;
  margin-left: -1px;
  overflow: hidden;
}
