@import 'variables';

/* for accessibility */
.hide {
  position: absolute !important;
  top: auto !important;
  left: -9999px !important;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: $app-color;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-transform: inherit;

  &:focus {
    outline: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &:focus {
    outline: 0;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input[type=text], input[type=date], textarea {
  font-family: inherit;
  font-size: inherit;
}

input[type=text]:focus, input[type=date]:focus, textarea:focus, video:focus,
audio:focus {
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: $font-color-third;
}

/* recommended css code for vue-svgicon */
.svg-icon {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
  transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}

.base-drop-down-icon {
  transition: all 0.5s ease;
  height: $icon-small;
  flex-shrink: 0;

  &.base-drop-down-icon-rotated {
    transform: rotate(180deg);
  }
}
