/* Overwrite colors in your App with css vars defined in your app root css */
/*:root {
  --app-color: #FF9800;
  --app-color-secondary: #b085f5;
  --font-color: rgb(0, 0, 0);
  --font-color-second: rgb(107, 107, 107);
  --button-header-color: rgb(240, 240, 240);
  --keyboard-active-color: rgb(217, 217, 217);
  --input-field-color: rgb(200, 200, 200);
  --background-color: #f0f0f0;
  --box-color: #ffffff;

  --uploadbar-color: #999999;
  --switch-checked-color: #4d4d4d;
  --switch-svg-checked-color: #ffffff;
  --graytext-color: rgba(16, 16, 16, 0.3);

  --warning-color: #ff4444;
}*/

/* fonts */
$font-size-regular: 1rem;
$font-size-small: 16rem/19;
$font-size-large: 24rem/19;
$line-height: 24rem/19;

/* height and spacing */
$spacing: 16rem/19;
$spacing-small: 8rem/19;
$spacing-large: 32rem/19;
/* new styleguide: font size + relative spacing! */
$row-height-large: 1rem +  2*1rem;
$row-height-small: 1.1rem +  2*$spacing-small;
$header-height: 55px;
$chips-spacing: 0.05rem;
$chips-list-height: 1rem + 2*$spacing;
$input-field-line-height: 27rem/19;
$fade-out-width: 30px;

/* colors */
$app-color: var(--app-color, #673ab7);
$app-color-secondary: var(--app-color-secondary, #b085f5);
$font-color: var(--font-color, rgb(0, 0, 0));
$font-color-second: var(--font-color-second, rgb(107, 107, 107));
$font-color-third: var(--font-color-third, rgb(160, 160, 160));
$button-header-color: var(--button-header-color, rgb(240, 240, 240));
$input-field-color: var(--input-field-color, rgb(200, 200, 200));
$background-color: var(--background-color, #f0f0f0);
$box-color: var(--box-color, white);
/* self defined for now! */
$uploadbar-color: var(--uploadbar-color, #999999);
$keyboard-active-color: var(--keyboard-active-color, rgb(217, 217, 217));
$switch-container-color: $input-field-color;
$switch-color: $background-color;
$switch-checked-color: var(--switch-checked-color, #4d4d4d);
$switch-svg-color: $font-color-third;
$switch-svg-checked-color: var(--switch-svg-checked-color, #ffffff);
$graytext-color: var(--graytext-color, rgba(16, 16, 16, 0.3));
$map-cluster-bg: var(--map-cluster-bg, rgba(255, 152, 0, .4));
$map-cluster-bg-inner: var(--map-cluster-bg-inner, rgba(255, 152, 0, .85));
$map-cluster-bg-hover: var(--map-cluster-bg-hover, rgba(255, 217, 91, .4));
$map-cluster-bg-inner-hover: var(--map-cluster-bg-inner-hover, rgba(255, 217, 91, .85));
$pagination-bullet-color: var(--pagination-bullet-color, #444444);
$warning-color: var(--warning-color, #ff4444);

/* shadows and borders */
$border-width: 2px;
$border-active-width: 4px;
$box-shadow-reg: 0px 0px 3px 0px rgba(0,0,0,0.05);
$box-shadow-hov: 0px 1px 5px 0px rgba(0,0,0,0.15);
$box-shadow-edit: 0 0 15px 5px rgba(0, 0, 0, 0.15);
$drop-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
$pop-up-shadow: 0px 0px 36px 0px rgba(0,0,0,0.5);
$pop-up-drop-shadow: 0px 10px 46px 0px rgba(0,0,0,0.25);
$input-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.2);
$preview-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
$box-transition: box-shadow 0.2s ease-in-out;
$separation-line: $border-width solid $button-header-color;
$list-border: 5px solid rgba(76, 175, 80, 1);
$list-border-transparent-50: 5px solid rgba(76, 175, 80, 0.5);
$list-border-transparent-100: 5px solid rgba(76, 175, 80, 0);
$upload-border: $border-width dashed $font-color-second;
$upload-border-hover: $border-width dashed $app-color;
$active-border: $border-active-width solid $app-color;
$input-field-border: 1px solid $input-field-color;
$loading-background: rgba(255, 255, 255, 0.5);

/* sizing */
$page-max-width: 1400px;
$page-min-width: 305px;

/* icons */
$icon-max: 48px;
$icon-xxlarge: 64px;
$icon-xlarge: 56px;
$icon-large: 24px;
$icon-medium: 16px;
$icon-small: 12px;
$icon-min: 8px;

/* animations */
$drop-down-arrow-animation: transform 0.5s ease, color 0.2s ease, fill 0.2s ease;

/* break-points */
$mobile: 639px;
$mobile-min-width: 640px;
$tablet: 1024px;

/* z-indeces */
$zindex: (
  boxcontent: 100,
  fadeout: 100,
  uploadbar: 100,
  button-active: 100,
  entry-selector-head: 150,
  dropdown: 200,
  uploadbar-content: 200,
  hoverbox: 500,
  loader: 5000,
  modal_bg: 10000,
  modal: 10020,
);

/* headlines */
$headline-margin-bottom: $line-height / 2;

/* transitions */
$link-transition: color 0.2s ease-in-out;
$base-expand-list-transition-duration: 250ms;
